<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">A Propos de moi</div>
              <p>Salut je suis <strong>AIT EL BOUHALI Mouhssine</strong>  .Ingénieur fraichement diplomé de l'Ecole Hassania des Travaux Publics, Option Génie Electrique.Pendant ma formation, j'ai acqui plusieurs connaissances en Electronique,Electrotechnique, Automatique, Télécommunication et aussi en Informatique.En parallèle,je maitrise différentes technologies informatiques (Machine Learning,Data Science:Python| Développement web: Angular,Python,Java,JavaScript,SQL...|),J'ai fait quelques projets soit académiques ou personnels et je vous invite vivement d'aller les voir dans la section "Projets".</p>


              <p>
                Doué par l'innovation et les nouvelles technologies.Rencontre les problèmes avec le sourire et les Résoudre le plus tôt possible. Je valorise beaucoup mon temps.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Informations Personnelles</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date de Naissance:</strong>
                </div>
                <div class="col-sm-8">16 Novembre 1996</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">mouhssineaitelbouhali@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">GSM:</strong>
                </div>
                <div class="col-sm-8">+212 667795113</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Adresse:</strong>
                </div>
                <div class="col-sm-8">Rue Jura, Maarif, Casablanaca, Maroc
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Langues:</strong>
                </div>
                <div class="col-sm-8">Arabe, Francais, Anglais</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>