<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projets</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/pr1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Portfolio Personnel | Angular8</h4>
          <h5 class="card-text"><b>Technologie :</b> Angular8,Bootstrap3 </h5>
            
          <a href="https://github.com/mouhssineaeb7/PortfolioPersonnel" class="btn btn-primary stretched-link">LienGithub</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/pr2.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Jeu "TicTacToe" | Python</h4>
           <h5 class="card-text"><b>Technologie :</b> Python,Pygame </h5>
    
          
          <a href="https://github.com/mouhssineaeb7/-x-o-Python-Game" class="btn btn-primary stretched-link">LienGithub</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/pr5.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Gender & Age Detector</h4>
          <h5 class="card-text"><b>Technologie :</b> Python,ML,cv2 </h5>
            
          <a href="https://github.com/mouhssineaeb7/GenderAgeDetector" class="btn btn-primary stretched-link">LienGithub</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/pr3.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Application Chatbot simple</h4>
           <h5 class="card-text"><b>Technologie :</b> Python,ML,Tensorflow,Nltk,Pickle </h5>
           
          <a href="https://github.com/mouhssineaeb7/ChatBot" class="btn btn-primary stretched-link">LienGithub</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/pr6.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Fake news Detector</h4>
           <h5 class="card-text"><b>Technologie :</b> Python,sklearn </h5>
             
          <a href="https://github.com/mouhssineaeb7/FakeNewsDetectort" class="btn btn-primary stretched-link">LienGithub</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/pr7.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Speech Emotion Recognition</h4>
           <h5 class="card-text"><b>Technologie :</b> Python, Librosa, Sklearn, Soundfile, Pickle </h5>
             
          <a href="https://github.com/mouhssineaeb7/SpeechEmotionRecognition" class="btn btn-primary stretched-link">LienGithub</a>
        </div>
        </div>
        </div>
        </div>
    
    
     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/pr4.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Hotel Website</h4>
          <h5 class="card-text"><b>Technologie :</b> HTML5,CSS3,Angular, Firebase </h5>
         
          <a href="https://github.com/mouhssineaeb7/HotelBooking" class="btn btn-primary stretched-link">LienGithub</a>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/intro.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Python Price Tracker</h4>
           <h5 class="card-text"><b>Technology :</b> Python,BeautifulSoup </h5>
       
          <a href="https://github.com/mouhssineaeb7/Python-price-tracking" class="btn btn-primary stretched-link">LienGithub</a>
        </div>
        </div>
        </div>
      </div>
    
      
    
    
    </div>
    </div>
  </div>